<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static',filename='codemirror/codemirror.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='yasgui.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='nfdi4objects-logo.png')}}" sizes="32x32" />
    <link rel="icon" href="{{url_for('static',filename='nfdi4objects-logo.png')}}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{{url_for('static',filename='nfdi4objects-logo.png')}}" />
    <script src="{{url_for('static',filename='jquery-3.7.1.slim.min.js')}}"></script>
    <script src="{{url_for('static',filename='codemirror/codemirror.js')}}"></script>
    <script src="{{url_for('static',filename='codemirror/runmode.js')}}"></script>
    <script src="{{url_for('static',filename='codemirror/javascript.js')}}"></script>
    <script src="{{url_for('static',filename='codemirror/pg.js')}}"></script>
    <script src="{{url_for('static',filename='common.js')}}"></script>
    <meta name="msapplication-TileImage" content="{{url_for('static',filename='nfdi4objects-logo.png')}}" />
    <title>N4O Graph: {{title}}</title>
  </head>
  <body>  
    <header>
    	<nav>
    		<div>
    			<div class="nav-brand">
    				<a href="https://www.nfdi4objects.net/" class="nav-logo"><img src="{{url_for('static',filename='nfdi4objects-logo.png')}}"></a>
        		<a href="{{url_for('index')}}" class="nav-title"><span>NFDI4<strong>Objects Knowledge Graph</strong></span></a>
    			</div>
    			<div class= "nav-list">
    				<ul>
        			<li>
          			{% if request.path.startswith("/sparql") %}
            		<a href="{{url_for('sparql_form')}}"><span><strong>SPARQL</strong></span></a>
          			{% else %}
            		<a href="{{url_for('sparql_form')}}"><span>SPARQL</span></a>
          			{% endif %}
        			</li>
        			<li>
          			{% if request.path.startswith("/collection") %}
            		<a href="{{url_for('collection')}}"><span><strong>Collections</strong></span></a>
          			{% else %}
            		<a href="{{url_for('collection')}}"><span>Collections</span></a>
          			{% endif %}
        			</li>
        			<li>
          			{% if request.path.startswith("/terminology") %}
            		<a href="{{url_for('terminology')}}"><span><strong>Terminologies</strong></span></a>
          			{% else %}
            		<a href="{{url_for('terminology')}}"><span>Terminologies</span></a>
          			{% endif %}
        			</li>
        			{% if config.tools %}
        			<li>
          			{% if request.path.startswith("/tools") %}
            		<a href="{{url_for('tools')}}"><span><strong>Tools</strong></span></a>
          			{% else %}
            		<a href="{{url_for('tools')}}"><span>Tools</span></a>
          			{% endif %}
        			</li>
        			{% endif %}
        			<li>
          			<a href="https://nfdi4objects.github.io/n4o-graph/"><span>Manual</span></a>
        			</li>
      			</ul>
    			</div>
    		</div>
    	</nav>	    	
    </header>   
    <main>
      {% block content %} {% endblock %}
    </main>
    <footer>
      <div style="float:right;">
        web interface:
        <a href="https://github.com/nfdi4objects/n4o-graph-apis">sources</a>
        {% if githash %} 
        (<a href="https://github.com/nfdi4objects/n4o-graph-apis/commit/{{ githash }}">{{ githash }}</a>)
        {% endif %}
        |
        <a href="https://github.com/nfdi4objects/n4o-graph-apis/issues">issues</a>
      </div>
      <a href="/license">license</a> |
      <a href="https://www.gbv.de/impressum">imprint</a> |
      <a href="https://cloud.nfdi4objects.net/s/Ea7CjtoMnn2S7oP">contact</a>
    </footer>
  </body>
</html>
