{% extends 'base.html' %}
 
{% block content %}

<script src="https://unpkg.com/@triply/yasr/build/yasr.min.js"></script>

<p>
  A collection is an individual set of research data imported into the knowledge graph.
  Each collection is identified by an URI starting with
  <code>https://graph.nfdi4objects.net/collection/</code>.
  Each collection belongs to a <a href="/repository/">research data repository</a>
  where its data has been published.
</p>
<p>
  Information about collections is stored in the
  RDF graph <a data-sparql="SELECT * FROM &lt;https://graph.nfdi4objects.net/collection/&gt; {
 ?subject ?predicate ?object
}">https://graph.nfdi4objects.net/collection/</a>.
</p>

<div data-sparql-table="
SELECT ?collection ?name ?repository ?license FROM n4oc: WHERE {  
  ?collection dct:isPartOf n4oc: .
  OPTIONAL { ?collection schema:name ?name }
  OPTIONAL { ?repository dcat:dataset ?collection }
  OPTIONAL { ?collection dct:license ?license }
  }"
></div>

{% endblock %}
