{% extends 'base.html' %}
 
{% block content %}
{% if graph == None %}
<p>The collection <b>{{uri}}</b> has not been found in the triple store!</p>
{% else %}
<h2>{{ graph.objects(URIRef(uri), URIRef("http://schema.org/name")).__next__() }}</h2>
<p><a href="{{uri}}">{{uri}}</a></p>
<p>
  Loaded into the graph at
  {{ graph.objects(URIRef(uri), URIRef("http://purl.org/dc/terms/issued")).__next__() }}
  with <a data-sparql-value="SELECT (COUNT(*) AS ?count) FROM <https://graph.nfdi4objects.net/collection/4> {?s ?p ?o}">...</a> triples.
</p>
<hr>
{% set homepage = graph.objects(URIRef(uri), URIRef("http://xmlns.com/foaf/0.1/homepage")).__next__() %}
{% if homepage %}
<p>Homepage: <a href="{{homepage}}">{{homepage}}</a></p>
{% endif %}
<p>Quell-Repository: <a data-sparql-value="SELECT ?r FROM <https://graph.nfdi4objects.net/collection/> { ?r <http://www.w3.org/ns/dcat#dataset> <{{uri}}> }">?</a></p>
<p>
  Please use SPARQL to get more information
  <a href="/sparql#query=DESCRIBE%20%3C{{uri}}%3E">about the collection</a>
  such as most used properties and classes...
</p> 
<hr>
<pre><code>
{{graph.serialize()}}
</code></pre>
{% endif %}

{% endblock %}
