{% extends 'base.html' %}
 
{% block content %}
  <p>
    Cypher Property Graph API endpoint 
    <code>/api/cypher</code>
    (<a href="https://github.com/nfdi4objects/n4o-graph-apis#cypher-property-graph-api">help</a>)
  </p>
<form method="post" id="cypherForm">
  <div class="yasqe">
     <textarea class="form-control" rows="3" name="query" id="cypherform">{{query}}</textarea>
  </div>
  <div>
     <button type="submit" class="btn btn-primary">Senden</button>
  </div>
</form>
  <div class="yasr">
    <div class="yasr_results">
      <div id="cypherResult"></div>
    </div>
  </div>

{% endblock %}
