{% extends 'base.html' %}
 
{% block content %}

{% include 'datatable.html' %}
<script src="{{url_for('static',filename='cypher-gui.js')}}"></script>

<p>
  {% if 'examples' in config.cypher %}
    {% set examples = config.cypher.examples %}
    {% include 'examples.html' %}
  {% endif %}
</div>
  Experimental Cypher PG API endpoint <code>/api/cypher</code>
</p>
<div class="yasqe">
  <textarea id="cypherform">{{examples[0].query}}</textarea>
</div>
<div class="yasr">
  <div class="yasr_results">
    <div id="cypherResult"></div>
  </div>
</div>
 
{% endblock %}
