{% extends 'base.html' %}

{% block content %}
  <p class="message">
    This is a first version, being worked on!
  </p>

  <p>
    This page provides API prototype to the <b>NFDI4Objects Knowledge Graph</b>. The
    Knowledge Graph integrates research data about cultural heritage objects.
    The following APIs are provided:
  </p>
  <ul>
    <li>
      <p>
        <a href="https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-operation">SPARQL</a> query API
        to the <b><a href="sparql">RDF triple store</a></b>
        at <code>/api/sparql</code>
      </p>
    </li>
    <li>
      <p>
        Linked Open Data (LOD) about <a href="/collection/">collections of research data in the graph</a> 
        for collection URIs in the
        <a href="https://graph.nfdi4objects.net/collection/">https://graph.nfdi4objects.net/collection/</a> (n4oc) namespace.
      </p>
    </li>
    <!--li>
      <p>
        experimental <a href="https://github.com/nfdi4objects/n4o-graph-apis#cypher-property-graph-api">Cypher Property Graph API</a>
        to a <b><a href="cypher">Labeled Property Graph</a></b>
        at <code>/api/cypher</code>
      </p>
    </li-->
  </ul>
  <p>
    Please consult <b><a href="https://nfdi4objects.github.io/n4o-graph/">the manual</a></b>
    for background and details!
  </p>
{% endblock %}
