{% extends 'base.html' %}

{% block content %}
  <p>
    This page provides an API prototype to the <b>NFDI4Objects Knowledge Graph</b>. The
    Knowledge Graph integrates research data about cultural heritage objects within
    <a href="https://www.nfdi4objects.net/">NFD4Objects</a>.
    The following APIs are provided:
  </p>
  <ul>
    <li>
      <p>
        <a href="https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-operation">SPARQL</a> query API
        to the <b><a href="sparql">RDF triple store</a></b>
        at <code>/api/sparql</code>
        (see <a href="https://sparqlexplorer.app/#/?endpoint=https%3A%2F%2Fgraph.nfdi4objects.net%2Fapi%2Fsparql">SPARQLExplorer</a> for inspection).
      </p>
    </li>
    <li>
      <p>
        Linked Open Data (LOD) about <a href="/collection/">collections of research data in the graph</a> 
        for collection URIs in the URI namespace <a href="{{ base }}collection/">{{ base }}collection/</a> (<tt>collection:</tt>).
      </p>
    </li>
  </ul>
  <p>
    Please consult <b><a href="https://nfdi4objects.github.io/n4o-graph/">the manual</a></b>
    for background and details!
  </p>
{% endblock %}
