
{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='lidostyle.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function getValue(s)
        {
            return document.getElementById(s).value;
        }
        function ajaxCall(url,data, fun = function(response) {}) 
        {
            $.ajax({
                url: url,
                method: 'GET',
                contentType: 'application/json',
                data: data,
                success: fun
            });
        } 

        function applyDomainAt(dIndex) 
        {
            let key = (s) => s + dIndex;
            ajaxCall( "/0/editLido", { "mappingIndex": dIndex,"path": getValue(key("sPath")), "entity":getValue(key("sEntity"))})
        } 
        
        function applyRangeAt(dIndex,rIndex) 
        {
            let key = (s) => s + dIndex + "-" + rIndex;
            ajaxCall("/1/editLido", {"mappingIndex":dIndex,"linkIndex":rIndex,"path":getValue(key("poPath")),"property":getValue(key("pEntity")),"entity":getValue(key("oEntity"))})
        } 

         function run() {
            var xmlData = sourceEditor.getValue();
            $.ajax({
                url: '/convertLido',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({xmlData: xmlData}),
                success: function(response) {outputDisplay.setValue(response.output);}
            });
        };
        
        function loadDftlLido() {
            $.ajax({
                url: '/loadDftlLido',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({code: ''}),
                success: function(response) {
                    sourceEditor.setValue(response.output);
                }
            });
        };
    </script>

    <h3>Input: Mapping(X3ML) <input type="button" value="load default mapping"/><input type="button" value="add mapping"/></h3>
    <div class="container">
        <div id="mapping" style="overflow-y: scroll;">
            <ul>
                {% for mapping in config.get('mappings',[]) %}
                {% set i = loop.index0 %}
                <li><span class="caret">Mapping {{i+1}}</span>
                  <ul class="nested">
                    <li>
                        <form method="post">
                            <label for="fname">Domain - path:</label>
                            <input type="text" id="sPath{{i}}", value="{{ mapping.S.path }}">
                            <label for="lname">entity:</label>
                            <input type="text" id="sEntity{{i}}", value="{{ mapping.S.entity }}">
                            <input type="button" onclick="applyDomainAt('{{i}}')" value="submit"/>
                            <input type="button" value="add link"/>
                        </form> 
                    </li>
                    {% for link in mapping.POs %}
                    {% set j = loop.index0 %}
                        <li>
                            <form method="post">
                                <label for="fname">Link {{j+1}} - path:</label>
                                <input type="text" id="poPath{{i}}-{{j}}", value="{{ link.P.path }}">
                                <label for="lname">property:</label>
                                <input type="text" id="pEntity{{i}}-{{j}}", value="{{ link.P.entity }}">
                                <label for="lname">entity:</label>
                                <input type="text" id="oEntity{{i}}-{{j}}", value="{{ link.O.entity }}">
                                <input type="button" onclick="applyRangeAt('{{i}}','{{j}}')"  value="submit">
                                <input type="button" value="delete"/>
                              </form> 
                        </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul> 
        </div>
    </div>
    
    <h3>Output: Lido (XML) => RDF (TTL)   <input type="button" onclick="loadDftlLido()"  value="load default Lido"/> <input type="button" onclick="run()" value="convert"/></h3>
    <div class="container">
        <div id="editor">{{config.get('sourceTxt','')}}</div>
        <div id="output"></div>
    </div>

    <script>
        for (const e of document.getElementsByClassName("caret"))
        {
            e.addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }
  
        function makeEdit(label, style="ace/theme/monokai",fmt="ace/mode/xml" ) {
            var ed = ace.edit(label);
            ed.setTheme(style);
            ed.session.setMode(fmt);
            ed.setPrintMarginColumn(-1)
            return ed;
        }
        var sourceEditor = makeEdit("editor");
        var outputDisplay = makeEdit("output","","ace/mode/turtle");
        outputDisplay.setOptions({ "readOnly" : true})
    </script>
 {% endblock %}