<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lido to RDF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='atom.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="file-info">
        Lido to RDF Converter: Lido left, RDF right
    </div>
    <div class="container">
        <div id="editor" contenteditable="true"></div>
        <div id="output" contenteditable="false"></div>
    </div>
    <div class="btn-container">
        <button class="black-button" id="loadButton">
            <span id="buttonText">Load default data</span>
            <i class="fas fa-circle-notch fa-spin" id="loadingIcon" style="display: none; margin-left: 10px;"></i>
        </button>  
        <button class="black-button" id="runButton">
            <span id="buttonText">Convert</span>
            <i class="fas fa-circle-notch fa-spin" id="loadingIcon" style="display: none; margin-left: 10px;"></i>
        </button>  
    </div>
    <div class="container">
        <div id="x3mle" contenteditable="false"></div>
    </div>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/xml");
        editor.setPrintMarginColumn(-1)

        var output = ace.edit("output");
        //output.setTheme("ace/theme/monokai");
        output.session.setMode("ace/mode/turtle");
        output.setPrintMarginColumn(-1)
        output.setOptions({ "readOnly" : true})
       
        var x3mle = ace.edit("x3mle");
        //output.setTheme("ace/theme/monokai");
        x3mle.session.setMode("ace/mode/turtle");
        x3mle.setPrintMarginColumn(-1)

        $("#runButton").click(function() {
            var code = editor.getValue();
            var mapping = x3mle.getValue();
            $.ajax({
                url: '/run_code',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({code: code, mapping: mapping}),
                success: function(response) {
                    output.setValue(response.output);
                }
            });
        });
        $("#loadButton").click(function() {
            $.ajax({
                url: '/load_code',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({code: ''}),
                success: function(response) {
                    editor.setValue(response.output);
                }
            });
        });
    </script>
 </body>
</html>