
{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='lidostyle.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function applyDomainAt(dIndex) 
        {
            let getv = (a, b) => document.getElementById(a+b).value;
            let pathValue = getv("sPath",dIndex);
            let entityValue = getv("sEntity",dIndex);
            $.ajax({
                url: "/"+dIndex+"/editMapping",
                method: 'GET',
                contentType: 'application/json',
                data: "path="+pathValue+"&entity="+entityValue,
                success: function(response) {}
            });
         } 
        function applyRangeAt(dIndex,rIndex) 
        {
            let getv = (a, b,c) => document.getElementById(a+b+"-"+c).value;
            let pathValue = getv("poPath",dIndex,rIndex);
            let pEntityValue = getv("pEntity",dIndex,rIndex);
            let oEntityValue = getv("oEntity",dIndex,rIndex);
            $.ajax({
                url: "/"+dIndex+"/editLink",
                method: 'GET',
                contentType: 'application/json',
                data: "linkIndex="+rIndex+"&path="+pathValue+"&property="+pEntityValue+"&entity="+oEntityValue,
                success: function(response) {}
            });
         } 
        </script>

    <h3>Input: Mapping(X3ML)</h3>
    <div class="container">
        <div id="mapping" style="overflow-y: scroll;">
            <ul>
                {% for mapping in config.get('mappings',[]) %}
                {% set i = loop.index0 %}
                <li><span class="caret">Mapping {{i+1}}</span>
                  <ul class="nested">
                    <li>
                        <form method="post">
                            <label for="fname">Domain - path:</label>
                            <input type="text" id="sPath{{i}}", value="{{ mapping.S.path }}">
                            <label for="lname">entity:</label>
                            <input type="text" id="sEntity{{i}}", value="{{ mapping.S.entity }}">
                            <input type="button" onclick="applyDomainAt('{{i}}')" value="submit"/>
                        </form> 
                    </li>
                    {% for link in mapping.POs %}
                    {% set j = loop.index0 %}
                        <li>
                            <form method="post">
                                <label for="fname">Link {{j+1}} - path:</label>
                                <input type="text" id="poPath{{i}}-{{j}}", value="{{ link.P.path }}">
                                <label for="lname">property:</label>
                                <input type="text" id="pEntity{{i}}-{{j}}", value="{{ link.P.entity }}">
                                <label for="lname">entity:</label>
                                <input type="text" id="oEntity{{i}}-{{j}}", value="{{ link.O.entity }}">
                                <input type="button" onclick="applyRangeAt('{{i}}','{{j}}')"  value="Submit">
                              </form> 
                        </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul> 
        </div>
    </div>
    
    <h3>Output: Lido (XML,left), RDF (TT,rightL)</h3>
    <div class="container">
        <div id="editor">{{config.get('sourceTxt','')}}</div>
        <div id="output"></div>
    </div>

    <div class="btn-container">
        <button class="black-button" id="dfltLidoBtn">
            <span id="buttonText">Load default data</span>
        </button>  
        <button class="black-button" id="convertBtn">
            <span id="buttonText">Convert</span>
        </button>  
    </div>
 
    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;
        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function() {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        } 
  
        function makeEdit(label, style="ace/theme/monokai",fmt="ace/mode/xml" ) {
            var ed = ace.edit(label);
            ed.setTheme(style);
            ed.session.setMode(fmt);
            ed.setPrintMarginColumn(-1)
            return ed;
        }
        var sourceEditor = makeEdit("editor");
        var outputDisplay = makeEdit("output","","ace/mode/turtle");
        outputDisplay.setOptions({ "readOnly" : true})

        $("#convertBtn").click(function() {
            var xmlData = sourceEditor.getValue();
            var mapping = mappingEditor.getValue();
            $.ajax({
                url: '/convertLido',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({xmlData: xmlData, mapping: ""}),
                success: function(response) {
                    outputDisplay.setValue(response.output);
                }
            });
        });
        $("#dfltLidoBtn").click(function() {
            $.ajax({
                url: '/loadDftlLido',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({code: ''}),
                success: function(response) {
                    sourceEditor.setValue(response.output);
                }
            });
        });
    </script>
 {% endblock %}