{% extends 'base.html' %}

{% block content %}
 <script src="{{url_for('static',filename='yasr.min.js')}}"></script>
 <script src="{{url_for('static',filename='yasqe.min.js')}}"></script>
 <script src="{{url_for('static',filename='sparql-gui.js')}}"></script>

  {% if 'examples' in config.sparql %}
    {% set examples = config.sparql.examples %}
    {% include 'examples.html' %}
  {% endif %}

  <p>
    SPARQL endpoint <code>/api/sparql</code>
    (see <a href="https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-operation">documentation</a>)
  </p>

  <div id="yasqe"></div>
  <div id="yasr"></div>
{% endblock %}
