{% extends 'base.html' %}
 
{% block content %}

<script src="https://unpkg.com/@triply/yasr/build/yasr.min.js"></script>

<p>
  The RDF graph
  <a href="https://graph.nfdi4objects.net/terminology/">https://graph.nfdi4objects.net/terminology/</a>
  contains information about N4O Terminologies. The list of
  terminologies is
  <a href="https://bartoc.org/en/node/18961">managed in BARTOC</a>.
</p>
<p>
  Some terminologies are also hosted fully or partially as part of the
  N4O graph. For instance a small subset of Wikidata is included in RDF graph
  <a href="http://bartoc.org/en/node/1940">http://bartoc.org/en/node/1940</a>
  (try <a data-sparql="SELECT * FROM <http://bartoc.org/en/node/1940> { ?s ?p ?o } LIMIT 100">this query</a>).
</p>

<div data-sparql-table="
SELECT ?voc (SAMPLE(?names) as ?name) ?namespace FROM <https://graph.nfdi4objects.net/terminology/> {
   ?voc a skos:ConceptScheme .
   ?voc skos:prefLabel ?names .
   OPTIONAL { ?voc void:uriSpace ?namespace }
} GROUP BY ?voc ?namespace"></div>

{% endblock %}
